.main-container { 
    width: 50%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}
p { 
    margin: 10px 0 ;
}
.container { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
   
}
.container .content { 
display:  flex;
justify-content: center;
align-items: center;
gap: 10px;
margin: 0;
}
.container .content #value { 
    border: 2px #333 solid;
    border-radius: 10px;
    background-color: #eee;
    padding: 5px 10px;
}
.container .old-values { 
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; */
}
.container  .old-values #button{
    background-color: #555; 
    padding: 10px;
    color: #eee;
    border-radius: 10px;
    box-shadow: 0 4px 4px #bbb;
    
}
.container  .old-values #button:hover{
    background-color: #777;
    cursor: pointer;
}
.container  .old-values #button:active{
    background-color: green;
    box-shadow: 0 0 0 ;
    transform: translateY(4px);
    transition: transform 1s;
    cursor: pointer;
}
.container  .old-values ul { 
    list-style: none;
    padding: 0;
    text-align: center;
    
}
.container .old-values ul li {
    border-bottom: 2px #ccc solid;
    margin-top:15px ;
}



#color-state { 
    color: red;
}

.disactive{
    display: none;
}